@import "bootstrap/dist/css/bootstrap.min.css";
@import url("./fonts.css");

:root {
  --font-primary: "Montserrat", sans-serif;
  --thin: 100;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --inter-semibold: 500;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-primary);
  font-weight: var(--regular);
}

.font-thin {
  font-weight: var(--thin);
}

.font-light {
  font-weight: var(--light);
}

.font-medium {
  font-weight: var(--medium);
}

.font-semibold {
  font-weight: var(--semibold);
}

.font-bold {
  font-weight: var(--bold);
}

.font-extrabold {
  font-weight: var(--extrabold);
}
.inter-font {
  font-weight: var(--inter-semibold);
}

.entp-text {
  color: #f8d613;
}

.para-color {
  color: #6d6d6c;
  font-size: 24px;
  font-weight: var(--medium);
}

.nav-links {
  font-weight: var(--medium);
}

.home-pattern {
  background-image: url("/images/pattern_home_glow.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* background-size: cover; */
  background-position: top;
}

.globe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  overflow: hidden !important;
}

.globe {
  position: relative;
  width: 480px;
  height: 480px;
  background: radial-gradient(#1a1a00, #2b2b22);
  border-radius: 50%;
  /* box-shadow: inset 0 0 10px #ffd700, inset 0 0 20px #ffd700, 0 0 50px black; */
  box-shadow: inset 0 0 15px #938930, inset 0 0 50px #1c4c5172, 0 0 20px black;
  overflow: hidden;
  z-index: 0;
}

.globe-scroll {
  display: flex;
  position: absolute;
  width: 200%;
  height: 100%;
  animation: scrollMap 10s linear infinite;
}
.globe-scroll img {
  margin-top: 80px;
  width: 70%;
  height: 70%;
}

@keyframes scrollMap {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.currency-icon {
  position: absolute;
  width: 35px;
  height: 35px;
}

.currency-icon.usd {
  top: 20%;
  left: 0%;
  animation: moveBackForth 8s ease-in-out infinite;
}

@keyframes moveBackForth {
  0% {
    transform: translate(200px, 100px) scale(0) rotate(90deg);
    /* opacity: 1; */
  }
  10% {
    transform: translate(380px, 130px) scale(1) rotateY(180deg);
    /* opacity: 1; */
  }
  50% {
    transform: translate(20px, 80px) scale(1);
    /* opacity: 1; */
  }
  90% {
    transform: translate(400px, 160px) scale(1) rotate(360deg);
    /* opacity: 1; */
  }
  100% {
    /* transform: translate(200px, 100px) scale(0); */
    transform: translate(380px, 130px) scale(0) rotate(90deg);
    /* opacity: 1; */
  }
}

.currency-icon.gbp {
  position: absolute;
  top: 50px;
  right: 20%;
  animation: gbpAnimate 7s ease-in-out infinite;
}

@keyframes gbpAnimate {
  0% {
    transform: translate(-100px, 150px) scale(0) rotateY(90deg);
    opacity: 0;
  }
  30% {
    transform: translate(0, 0) scale(1) rotateY(360deg);
    opacity: 1;
  }
  60% {
    transform: translate(-310px, 250px) scale(1);
    opacity: 1;
  }
  /* 90% {
    transform: translate(-310px, 250px) scale(1);
    opacity: 1;
  } */
  100% {
    transform: translate(-300px, 250px) scale(0) rotateY(450deg);
    opacity: 0;
  }
}

.currency-icon.euro {
  bottom: 1%;
  left: 40%;
  z-index: 1000;
  animation: euro 7s ease-in-out infinite;
}

@keyframes euro {
  0%,
  100% {
    transform: scale(0) rotate(0deg);
    opacity: 0;
  }
  20% {
    transform: scale(1) rotateX(360deg) rotateY(360deg);
    opacity: 1;
  }
  50% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

.currency-icon.cny {
  top: 4%;
  right: 35%;
  animation: cny 8s ease-in-out infinite;
}

@keyframes cny {
  0%,
  100% {
    transform: scale(0) rotate(360deg);
    opacity: 0;
  }
  20% {
    transform: scale(1) rotateX(360deg) rotateY(360deg);
    opacity: 1;
  }
  50% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

.fx-rate {
  animation: FXRate 5s ease-in-out infinite;
  position: absolute;
  top: 0px;
  left: 100px;
  transform-style: preserve-3d;
  width: 150px;
}

@keyframes FXRate {
  0% {
    transform: translate(100px, 100px) scale(0.4);
    opacity: 0;
  }
  30% {
    transform: translate(0, 0) scale(1) rotateX(360deg);
    opacity: 1;
  }
  80% {
    transform: translate(0, 0) scale(1) rotateX(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(100px, 100px) scale(0);
    opacity: 1;
  }
}

.transfer {
  animation: quickTransfer 5s ease-in-out infinite;
  position: absolute;
  bottom: 30px;
  /* transform-style: preserve-3d; */
  right: 0px;
  width: 150px;
}

@keyframes quickTransfer {
  0% {
    transform: translate(-60px, -60px) scale(0);
    opacity: 0;
  }
  30% {
    transform: translate(0, 0) scale(1) rotateX(360deg);
    opacity: 1;
  }
  80% {
    transform: translate(0, 0) scale(1) rotateX(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(-100px, -100px) scale(0);
    opacity: 0;
  }
}

.currency-card {
  border-radius: 80px / 80px;
  background-color: transparent;
  color: white;
  font-weight: var(--medium);
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.currency-card::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #f8d613;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 1s ease, height 1s ease;
  z-index: 0;
}

.currency-card:hover::before {
  width: 300%;
  height: 300%;
}

.currency-card:hover {
  color: black;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.currency-card > * {
  position: relative;
  z-index: 1;
}

/* 
.border-light {
  border-right: 2px solid yellow;
} */

/* Footer Section */
.custom-link a {
  text-decoration: none;
  font-weight: var(--regular);
}
.custom-link p {
  margin-bottom: 25px;
  cursor: pointer;
  font-weight: var(--regular);
  font-size: medium;
}
.custom-link p:hover {
  color: #ffd700;
}

.custom-link h6 {
  color: #ffd700;
  font-weight: bold;
  font-size: 20px;
}
.social-link {
  border: 3px solid #8f8b78;
  border-radius: 50%;
  color: #8f8b78;
  background-color: transparent;
}
.social-link:hover {
  transition: all 0.2s ease-in;
  color: #ffd700;
  border: 3px solid #ffd700;
  background-color: transparent;
}

.btn-yellow {
  color: #22221d !important;
  background-color: #f8d613 !important;
  border: none !important;
  padding: 10px 12px !important;
  font-weight: var(--semibold) !important;
  border-radius: 8px !important;
}

.btn-black {
  color: white !important;
  background-color: black !important;
  border: none !important;
  /* padding: 10px 12px !important; */
  /* font-weight: var(--medium) !important; */
  border-radius: 8px !important;
  font-size: 18px !important;
  /* font-family: ; */
}

.letter .form-control:focus {
  box-shadow: 0 0 0 0.1rem transparent;
  border: 1px solid transparent;
}

.letter .form-control-lg {
  background-color: #ffeb7a !important;
  border: 3px solid #fff19e !important;
  font-size: 18px;
}

.letter .form-control-lg::placeholder {
  color: black !important;
}

.track-input .form-control:focus {
  box-shadow: 0 0 0 0.1rem transparent;
  border: 1px solid transparent;
}

.track-input .form-control-lg {
  background-color: transparent !important;
  border: 2px solid #ededed !important;
  font-size: 14px;
}

.track-input .form-control-lg::placeholder {
  color: #6d6d6c !important;
}

.letter-bg {
  background-image: url("/images/light_pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  /* background-size: cover; */
}

.glow-line {
  width: 1.6px;
  height: 35px;
  background: linear-gradient(to bottom, transparent, #ceb319, transparent);
  box-shadow: 0 0 10px 0.5px rgba(255, 215, 0, 0.1);
}

/* Footer Section */
.custom-link a {
  text-decoration: none;
}
.custom-link p {
  margin-bottom: 25px;
  cursor: pointer;
}
.custom-link p:hover {
  color: #ffd700;
}

.custom-link h6 {
  color: #ffd700;
  font-weight: bold;
  font-size: 20px;
}
.social-link {
  border: 3px solid #8f8b78 !important;
  border-radius: 50% !important;
  color: #8f8b78 !important;
  background-color: transparent !important;
  /* transition: all 0.2s ease-in; */
}
.social-link:hover {
  /* transition: all 0.2s ease-in; */
  color: #ffd700 !important;
  border: 3px solid #ffd700 !important;
  background-color: transparent !important;
}

.newsletter-container {
  position: relative;
  height: 0;
  /* margin-top: 600px !important; */
  margin-top: 400px !important;
}

.newsletter-container > * {
  position: absolute;
  top: -340px !important;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
  max-width: 1440px;
}

.linear-bg {
  background: #fcf9e4;
  background: linear-gradient(
    171deg,
    rgba(252, 249, 228, 1) 0%,
    rgba(251, 250, 244, 1) 100%
  );
}

/* Slider */

.slider-container .slick-dots {
  bottom: -50px;
}

.slider-container .slick-dots li button {
  background-color: gray;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.slider-container .slick-dots li button::before {
  content: none;
}

.slider-container .slick-dots li.slick-active button {
  background-color: #ffd700;
  content: "";
}

/* 
@keyframes para {
  0% {
    transform: translate(20Y);
  }
  50% {
    transform: translate(50Y);
  }
  100% {
    transform: translate(100Y);
  }
} */

.globe-container-b {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
  width: 450px;
}

.partner-bg {
  background-image: url("/images/partner_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.globe-b {
  position: relative;
  width: 450px;
  height: 700px;
  overflow: hidden;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  border-right: 4px solid #d2ceba;
  border-top: 0px solid #fdf8dc;
  border-bottom: 0px solid #fefcf0;
  background-color: transparent;
  z-index: 0;
}

.globe-scroll-b {
  display: flex;
  position: absolute;
  width: 200%;
  height: 100%;
  animation: scrollMap 10s linear infinite;
  z-index: 0;
}

.globe-scroll-b img {
  width: 55%;
  height: 100%;
  object-fit: cover;
}

@keyframes scrollMap {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* .fx-wave-bg {
  background-image: url("/images/fx_bg_waves.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  z-index: 0;
  position: relative;
} */

.fx-wave-bg {
  position: relative;
}

.fx-wave-bg::before {
  content: "";
  position: absolute;
  top: -160;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/fx_bg_waves.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  z-index: -1;
}

.payment-card {
  /* box-shadow: 10px 0px 10px 0.5px rgba(255, 238, 141, 0.571); */
  border-right: 2px solid white;
  box-shadow: 10px 0px 15px -5px rgba(255, 255, 255, 0.571);
}

.payment-card:hover {
  box-shadow: 10px 0px 15px -5px rgba(255, 238, 141, 0.571);
  border-right: 1px solid #f8d613;
}

.step-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #cccccc;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.step-line {
  width: 3px;
  height: 80px;
  margin: 0 !important;
}

.step-line.active {
  background-color: #f8d613;
}

.step-line.inactive {
  border-left: 3px dashed #cccccc;
}

.step-icon.active {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f8d613;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.step-number {
  font-size: 18px;
  font-weight: bold;
}

/* Team Section */

.manager-card {
  position: relative !important;
  overflow: hidden !important;
  border-radius: 16px;
}

.manager-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}

.manager-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  color: white;
}

.manager-details {
  position: absolute;
  bottom: -15%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, calc(-50% + 100%));
  padding: 1rem;
  color: black;
  background: #f8d613;
  width: 90%;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  z-index: 2;
}

.manager-card:hover .manager-details {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.manager-name {
  display: block !important;
}
.manager-card:hover .manager-name {
  display: none !important;
}

/* .slider-container.manager-section .slick-dots {
  bottom: 0;
  display: flex !important;
  justify-content: center;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-container.manager-section .slick-dots li {
  width: 40px;
  height: 5px !important;
  margin: 0;
}

.slider-container.manager-section .slick-dots li button {
  width: 100%;
  height: 5px !important;
  background-color: gray;
  border-radius: 2px;
  padding: 0;
  cursor: pointer;
  border: none;
}

.slider-container.manager-section .slick-dots li button::before {
  content: none;
}

.slider-container.manager-section .slick-dots li.slick-active button {
  background-color: #ffd700;
} */

/* *****************        Responsive Media Screens          ********************** */

@media (max-width: 1440px) {
}

@media (max-width: 1260px) {
}

@media (max-width: 1024px) {
  .globe {
    width: 350px;
    height: 350px;
  }

  .fx-rate {
    left: 80px;
    width: 100px;
  }

  .transfer {
    right: 0px;
    width: 100px;
  }

  .manager-details {
    bottom: -25%;
  }
}

@media (max-width: 768px) {
  .manager-details {
    bottom: -20%;
  }
}

@media (max-width: 576px) {
  .globe {
    width: 230px;
    height: 230px;
  }

  .fx-rate {
    left: 80px;
    width: 80px;
  }

  .transfer {
    width: 80px;
  }

  .globe-container-b {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    width: 220px;
  }
  .globe-b {
    width: 300px;
    height: 400px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
  }

  .manager-details {
    bottom: -25%;
  }
}

/* @media (max-width: 1440px) {
  .container-fluid {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
} */

.glass-bg {
  background: #3d3c2f96;
  backdrop-filter: blur(15px);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.contact-form .form-control-lg {
  background-color: #d7d6d0 !important;
  border: 3px solid #d7d6d0 !important;
  font-size: 18px;
  font-weight: var(--medium) !important;
}

.contact-form .input-group-text {
  background-color: #d7d6d0;
  font-weight: var(--medium) !important;
  font-size: 18px !important;
  text-align: top !important;
  /* color: red !important; */
}

.contact-form .form-control:focus {
  box-shadow: 0 0 0 0.1rem transparent;
  border: 1px solid transparent;
}

/* Accordion FAQ section */

.accordion-button:hover {
  background-color: #ffff;
  color: black;
  box-shadow: 0 0 0 0.1rem #ffd700;
}

.accordion-button:not(.collapsed) {
  background-color: #ffff;
  color: black;
  box-shadow: 0 0 0 0.1rem #ffd700;
}
